<div class="row" *ngIf="account; else loading">
  <div class="col-md-12 col-lg-6">

    <app-account-card
      [account]="account"></app-account-card>
  </div>

  <div class="col-md-12 col-lg-6">
    <app-member-card
      [member]="member"></app-member-card>
  </div>

</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>

<div>
  <ul class="nav nav-tabs">
    <li class="nav-item"
      *ngFor="let link of navTabs">
      <a class="list-group-item"
        [routerLink]="link.href"
        routerLinkActive="active">{{link.name}}</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>


