<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8">
    <div class="d-flex justify-content-between">
      <h2 class="mb-3">Products</h2>
      <a class="btn btn-primary align-self-center"
        routerLink="new">New</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="align-top w-auto">
            <a [routerLink]="product.id">
              {{product.heading}}
            </a>
            <div *ngIf="product.plans.length === 1; else planCount">
              <app-plan-price
                [plan]="product.plans[0]"></app-plan-price>
            </div>
            <ng-template #planCount>
              <div>
                {{product.plans.length}} pricing plans
              </div>
            </ng-template>
          </td>
          <td class="align-middle">
            {{product.updatedUtc}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
