<h2 class="mb-3">Default Products</h2>

<div class="row">
  <div class="col-md-12 col-lg-6" *ngFor="let product of products">

    <div class="card">

      <div class="card-header text-right">
        <a routerLink="builder"
          [state]="{buildOn: product}">Edit</a>
      </div>

      <div class="card-body">

        <app-product-content
          [product]="product"></app-product-content>

        <div
          *ngFor="let plan of product.plans"
          class="text-center mt-3">
          <app-plan-content
            [plan]="plan"></app-plan-content>
        </div>

      </div>


    </div>

  </div>

</div>
