<div class="row">
  <div class="col-md-12 col-lg-8">
    <div class="d-flex justify-content-between">
      <h2 class="mb-3">Test Accounts</h2>
      <button class="btn btn-primary align-self-center"
        (click)="modalOn()">New</button>
    </div>

    <table class="table">
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <a [routerLink]="user.ftcId">{{user.email}}</a>
          </td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-12 col-lg-4">
    <p>Create a sandbox account, log in with it and you can test payment using sandbox price.</p>
  </div>
</div>


<div *ngIf="modal.on"
  class="modal fade show">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-modal-header
        title="New Sandbox Account"></app-modal-header>

      <div class="modal-body">
        <p>Test account always ends with <strong>.test@ftchinese.com</strong>. Do not enter the host part. Simply specify the name prefix will work.</p>
        <app-dynamic-form
          [controls]="controls"
          [button]="button"></app-dynamic-form>
      </div>
    </div>
  </div>

</div>
