<div class="card mb-3 text-center">
  <div class="card-header d-flex justify-content-between" *ngIf="showHeader">
    <span>{{ plan.tier | tier }}</span>
    <button class="btn btn-outline-primary" (click)="select()">Use</button>
  </div>

  <div class="card-body">
    <app-plan-content
      [plan]="plan"></app-plan-content>
  </div>

  <div *ngIf="permitDiscount"
    class="card-footer text-right">
    <button *ngIf="!hasRetailDiscount" class="btn btn-link">Set Retail Discount</button>
    <button class="btn btn-link">Add B2B Discount</button>
  </div>
</div>
