
<div class="d-flex justify-content-between mb-3 border-bottom">
  <h2>Registered Apps</h2>
  <div>
    <a href="./new" class="btn btn-primary">New App</a>
  </div>
</div>

<div class="border-bottom mb-3 pb-2" *ngFor="let app of apps">
  <h5>
    <a href="">{{app.name}}</a>
    <span *ngIf="!app.isActive">[Deprecated]</span>
  </h5>

  <p>{{app.description}}</p>

  <p>
      <span class="font-weight-bold">Source Code</span>
      <a class="card-link" href="{{app.repoUrl}}" target="_blank">{{app.repoUrl}}</a>
  </p>
  <p>
      <span class="font-weight-bold">Home Page</span>
      <a href="{{app.homeUrl}}" target="_blank">{{app.homeUrl}}</a>
  </p>

  <p>
      Created by <strong>{{ app.ownedBy }}</strong> at {{app.createdAt}}
  </p>

  <div class="d-flex justify-content-end">
      <a class="card-link" href="">Access Tokens</a>
  </div>
</div>
