<h2 class="subhead-heading">Draft new release</h2>

<p>The version should already exist on <a href="https://github.com/FTChinese/ftc-android-kotlin/releases" target="_blank">GitHub releases</a> from where the release data will be fetched. Enter version tag to seee if it is released</p>

<app-search [placeHolder]="'v1.0.0'"></app-search>

<div class="mb-3">
  <button type="button" class="btn btn-link" (click)="getLatestRelease()">Or pull data directly from GitHub's latest release</button>
</div>


<app-edit-release *ngIf="release" [release]="release"></app-edit-release>
