<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8"
    *ngIf="vips">

    <div class="d-flex justify-content-between">
      <h2>FTC VIPs</h2>
      <button class="btn btn-primary align-self-center"
        (click)="showGrant()">Grant</button>
    </div>

    <table class="table table-striped" >
      <thead>
        <tr>
          <th>邮箱</th>
          <th>Is VIP</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vips.data; let i=index">
          <td>{{v.email}}</td>
          <td>{{v.vip}}</td>
          <td class="text-right">
            <button class="btn btn-link"
              (click)="showRevoke(i)">Revoke</button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-prev-next
      *ngIf="prevNext"
      [paged]="prevNext"
      (navigated)="onNavigate()"></app-prev-next>
  </div>

</div>

<div *ngIf="grantOn"
  class="modal fade show">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-modal-header
        title="Grant VIP to an Account"></app-modal-header>

      <div class="modal-body">

        <app-dynamic-form
          [controls]="controls"
          [button]="button"></app-dynamic-form>

        <p *ngIf="warning" class="text-danger">{{warning}}</p>
      </div>

    </div>
  </div>

</div>

<div *ngIf="revokeOn"
  class="modal fade show">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-modal-header
        title="Revoke VIP"></app-modal-header>

      <div class="modal-body">
        <p>Are you sure you want to revoke VIP from account <strong>{{vips[revokeIndex].email}}</strong>?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger"
          (click)="onRevoke()">Revoke</button>
      </div>
    </div>
  </div>

</div>
