<div *ngIf="product">

  <div class="card mb-3">
    <div class="card-body d-flex">
      <div class="flex-grow-1">
        <h6>{{ product.heading}}</h6>
        <div *ngIf="product.plans.length === 1; else planCount">
          <app-plan-price
            [plan]="product.plans[0]"></app-plan-price>
        </div>
        <ng-template #planCount>
          <div>
            {{product.plans.length}} pricing plans
          </div>
        </ng-template>
      </div>
      <div>
        <a class="btn btn-primary" routerLink="edit">Edit</a>
      </div>
    </div>

    <div class="card-footer d-flex">
      <app-meta-list
        [metaItems]="metaItems"></app-meta-list>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      Description
    </div>
    <div class="card-body">
      <ul>
        <li *ngFor="let line of product.description">
          {{ line }}
        </li>
      </ul>

      <small *ngIf="product.smallPrint">
        {{product.smallPrint}}
      </small>

    </div>
  </div>

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <span>Pricing</span>
      <button
        class="btn btn-outline-primary btn-inline"
        (click)="onNewPrice()">
        New
      </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Price</th>
          <th>ID</th>
          <th>Created</th>
          <th>Discount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of product.plans; let i=index">
          <td>
            <div>

              <app-plan-price
                [plan]="plan"></app-plan-price>

              <span *ngIf="plan.isActive; else activate"
                class="badge badge-success">
                Active
              </span>
              <ng-template #activate>
                <button class="btn btn-link btn-inline"
                  (click)="onDefaultPlan(plan)">
                  Activate
                </button>
              </ng-template>
            </div>
            <div class="text-muted">{{plan.description}}</div>
          </td>
          <td>{{plan.id}}</td>
          <td>
            <div>{{plan.createdUtc}}</div>
            <div class="text-muted">by {{plan.createdBy}}</div>
          </td>
          <td>
            <app-price-off
              *ngIf="plan.discount.id"
              [discount]="plan.discount"></app-price-off>
          </td>
          <td>
            <app-menu
              [sectionIndex]="i"
              [items]="menuItems"
              (selected)="onSelectMenu($event)"></app-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>Those prices marked with <span class="badge badge-success">Active</span> are to charge users when they purchase this product. Each product could only have only one price for each billing cycle.</p>
</div>

<div *ngIf="priceModalOn"
  class="modal fade show">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-modal-header
        [title]="priceModalTitle"></app-modal-header>

      <div class="modal-body">
        <app-price-form
          [product]="product"
          (created)="onPriceCreated($event)"></app-price-form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="newDiscountModalOn"
  class="modal fade show">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-modal-header
        title="New discount"></app-modal-header>

      <div class="modal-body">
        <app-discount-form
          [plan]="discountTarget"
          (created)="onDiscountCreated($event)"></app-discount-form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="removeDiscountModalOn"
  class="modal fade show">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-modal-header
        title="Remove discount"></app-modal-header>

      <div class="modal-body">
        <p>
          Are you sure you want to drop discount {{discountTarget.discount.priceOff | currency: 'CNY':'symbol-narrow'}} from this plan
          <app-plan-price
            [plan]="discountTarget"></app-plan-price>
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger"
          type="button"
          (click)="onDropDiscount()">Drop</button>
      </div>
    </div>
  </div>
</div>
