<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form"
      (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="title" class="form-label">Title</label>
        <input #title
          class="form-control"
          id="title"
          type="text"
          formControlName="title">
      </div>

      <div class="form-group">
        <label for="summary" class="form-label">Summary</label>
        <textarea #summary
          class="form-control"
          id="summary"
          formControlName="summary"
          rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="body" class="form-label">Body</label>
        <textarea #body
          class="form-control"
          id="body"
          formControlName="body"
          rows="30"></textarea>
      </div>

      <div class="d-flex justify-content-between">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!form.valid">Save</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h5 class="text-center">{{title.value}}</h5>
    <div [innerHTML]="body.value | marked"></div>
  </div>
</div>

