<div class="row pb-3">

  <div class="col-12 text-right">
    <button class="btn btn-primary"
      [disabled]="progress.on"
      (click)="rebuild()">Rebuild Paywall</button>
  </div>

  <div class="col-12">
    <p>Please click the <span class="badge badge-info">Rebuild Paywall</span> button in case you made any modifications to any part of the following paywall, including modifications made on the Products page; otherwise your modification might not be updated in the Subscription API.</p>
    <p>You can inspect the paywall data currently used by the Subscription API by clicking the Inspect API link. If you find the data in API is out of sync with what you see here, also click the <span class="badge badge-info">Rebuild Paywall</span> button.</p>
  </div>
</div>

<div class="text-danger"
  *ngIf="loadingError">
  {{loadingError}}
</div>

<div *ngIf="notFound">
  Paywall data is not created yet. Start by  <a routerLink="banner/new">creating a banner</a>.
</div>

<app-banner-card
  *ngIf="paywall"
  [banner]="paywall.banner"></app-banner-card>

<app-promo-card
  *ngIf="paywall"
  (dropped)="onPromoDropped()"
  [promo]="paywall.promo"></app-promo-card>

<div class="row justify-content-between"
  *ngIf="paywall">
  <div class="col-lg-5"
    *ngFor="let product of paywall.products">
    <div class="card">
      <div class="card-body">

        <h3 class="card-title text-center mb-3 pb-3">
          <a [routerLink]="['products', product.id]">{{product.heading}}</a>
        </h3>

        <ul>
          <li *ngFor="let item of product.description | line">
            {{item}}
          </li>
        </ul>

        <small *ngIf="product.smallPrint">
          {{product.smallPrint}}
        </small>

        <div *ngFor="let plan of product.plans"
          class="mt-3">
          <button class="btn btn-primary btn-block">
            <app-plan-price
              [plan]="plan"></app-plan-price>
          </button>

          <div *ngIf="plan.discount.id"
            class="text-center">
            <app-price-off
              [discount]="plan.discount"></app-price-off>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

