<h2>Find a Reader</h2>

<div class="row">
  <div class="col-md-12 col-lg-8">

    <app-search [placeHolder]="'Email or wehchat name'"></app-search>

    <div *ngIf="errMsg">{{errMsg}}</div>

    <p *ngIf="accountList && accountList.length == 0">No results.</p>

    <ul class="list-group" *ngIf="accountList && accountList.length > 0">
      <li *ngFor="let item of accountList"
        (click)="loadAccount(item)"
        class="list-group-item">
        {{ item.name }}
        <a [routerLink]="['/readers', item.kind, item.id]">More...</a>

        Preview ->
      </li>
    </ul>
  </div>

  <div class="col-md-12 col-lg-4">
    <pre *ngIf="account">{{ account | async | json }}</pre>
  </div>
</div>



