<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8">
    <h2>Find a Reader</h2>

    <app-search-form
      placeholder="Email or Wechat nickname"
      [disabled]="disableSearch"
      (submitted)="onKeyword($event)"></app-search-form>

    <div *ngIf="notFound">
      Not Found
    </div>

    <dl class="mb-3 pb-3 border-bottom"
      *ngFor="let account of accounts">
      <dt>FTC</dt>
      <dd>
        <a *ngIf="account.email"
          [routerLink]="['/readers/ftc', account.ftcId]">{{account.email}}</a>
        <span *ngIf="account.userName">
          ({{account.userName}})
        </span>
      </dd>

      <dt *ngIf="account.unionId">Wechat</dt>
      <dd>
        <a *ngIf="account.wechat.nickname"
          [routerLink]="['/readers/wechat', account.unionId]">
          {{account.wechat.nickname}}
        </a>
      </dd>
    </dl>

  </div>
</div>




