<div class="card mb-3">
  <div class="card-header">
    Membership
  </div>

  <div class="card-body">
    <ng-container
      *ngIf="hasMember; else noMember">

      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{member.tier | tier}}/{{member.cycle | cycle}}</h5>
      </div>

      <app-property-list
        [items]="memberProperties"></app-property-list>

    </ng-container>

    <ng-template #noMember>
      <p>This account does not have membership yet.
    </ng-template>
  </div>

</div>

<ng-container *ngIf="modifiable">
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
      Subscription Details
    </div>

    <table class="table">
      <tbody>
        <tr>
          <td>FTC Plan ID</td>
          <td>{{member.ftcPlanId || 'N/A'}}</td>
          <td class="text-right">
            <div class="btn-group"
             *ngIf="!hasMember || isWxOrAliPay">
              <button class="btn btn-outline-primary"
                (click)="showFtcForm()">
                Add/Modify
              </button>
              <button class="btn btn-danger"
                [disabled]="!isWxOrAliPay"
                (click)="confirmDelete()">
                Delete
              </button>
            </div>

          </td>
        </tr>

        <tr>
          <td>
            Apple Original Transaction ID
          </td>
          <td>{{member.appleSubsId || 'N/A'}}</td>
          <td class="text-right">
            <div class="btn-group"
              *ngIf="!hasMember || member.appleSubsId">

              <button class="btn btn-outline-primary"
                [disabled]="!isIAP"
                (click)="onRefreshIAP()">Refresh</button>

              <button class="btn btn-outline-primary"
                (click)="showIAPForm()">Link/Modify</button>

              <button class="btn btn-danger"
                [disabled]="!isIAP">Unlink</button>
            </div>
          </td>
        </tr>

        <tr>
          <td>B2B Licence ID</td>
          <td>{{member.b2bLicenceId || 'N/A'}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <caption>Stripe</caption>
      <tbody>

        <tr>
          <td>Subscription ID</td>
          <td>{{member.stripeSubsId}}</td>
        </tr>

        <tr>
          <td>Plan ID</td>
          <td>{{member.stripePlanId}}</td>
        </tr>

        <tr>
          <td>Status</td>
          <td>{{member.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <p>You can create/modify membership if you really need to. However, you  are recommended against creating a membership directly. You'd better create/update membership via its purchase sources.</p>

    <p>Currently we have 3 sources, and they are mutually exclusive.</p>

    <ul>
      <li>FTC plans, purchased via Wechat or Alipay. The recommended approach is to find the order user created, and if it is not confirmed yet, you can confirm it and the API will contact the providers' API to check the payment status, and create or update membership based the result.</li>
      <li>Apple IAP. You have to find out Apple's original transaction id to link the subscription to this user. If the original transaction id already exists, you can click the refresh button, and the user's invoice will be updated together with membership.</li>
      <li>Stripe. Add the subscription id and plan id you find at Stripe dashboard for this user.</li>
    </ul>
  </div>

  <div *ngIf="ftcFormOn"
    class="modal fade show">

    <div class="modal-dialog">
      <div class="modal-content">
        <app-modal-header
          [title]="ftcFormTitle"></app-modal-header>

        <div class="modal-body">
          <app-ftc-form
            (succeeded)="onMemberUpdated($event)"
            [account]="account"></app-ftc-form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="iapFormOn"
    class="modal fade show">

    <div class="modal-dialog">
      <div class="modal-content">
        <app-modal-header
          title="Link IAP"></app-modal-header>

        <div class="modal-body">
          <p>Enter apple in-app-purchase original transaction id to link it to this account. If an original transaction id already exists, change it to another one will link this account to another IAP.</p>
          <p class="text-danger">Be careful when you perform this action. Ideally you should never touch this part as the linking the should done on user's devices.</p>
          <app-iap-form
            (succeeded)="onMemberUpdated($event)"
            [account]="account"></app-iap-form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="deleteMemberOn"
    class="modal fade show">

    <div class="modal-dialog">
      <div class="modal-content">
        <app-modal-header
        title="Delete Membership"></app-modal-header>

        <div class="modal-body">
          <p>Are you sure you want to delete this user's membership?</p>

          <p>We are strongly recommend <strong>NOT</strong> deleting any user's membership! It's better to change the expiration date to any past time to deny user's access to paid content</p>
        </div>

        <div class="modal-footer">
          <button class="btn btn-danger"
            type="button"
            [disabled]="progress.on"
            (click)="onDeleteMember()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

