<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8">
    <h2>Search an Order</h2>

    <app-search-form
      placeholder="Order ID"
      [disabled]="disabledSearch"
      (submitted)="onKeyword($event)"></app-search-form>

    <div class="card mb-3"
      *ngIf="order">
      <div class="card-header">
        Order Details
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>Edition</th>
            <td>{{order.tier | tier}}/{{order.cycle | cycle}}</td>
          </tr>
          <tr>
            <th>Kind</th>
            <td>{{order.kind | orderKind}}</td>
          </tr>
          <tr>
            <th>Amount</th>
            <td>{{order.amount}}</td>
          </tr>
          <tr>
            <th>Payment method</th>
            <td>{{order.paymentMethod | payMethod}}</td>
          </tr>
          <tr>
            <th>Created UTC</th>
            <td>{{order.createdAt}}</td>
          </tr>

          <tr>
            <th>Confirmation time</th>
            <td>{{order.confirmedAt}}</td>
          </tr>

          <tr>
            <th>Purchased Period</th>
            <td *ngIf="order.startDate; else noPeriod">
              {{order.startDate}} to {{order.endDate}}
            </td>
            <ng-template #noPeriod>
              <td>N/A</td>
            </ng-template>
          </tr>
        </tbody>
      </table>
      <div class="card-body text-right">
        <p>You can verify payment result if you believe this order was paid but not confirmed.</p>
        <button class="btn btn-primary"
          (click)="verifyPayment()">Verify Payment</button>
      </div>
    </div>

    <app-pay-result
      *ngIf="paymentResult"
      [result]="paymentResult"></app-pay-result>

    <app-member-card
      *ngIf="account"
      [modifiable]=false
      [account]="account"></app-member-card>

  </div>
</div>


