<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">

    <div class="d-flex justify-content-between">
      <h2>New Product</h2>
      <button class="btn btn-primary align-self-center"
        type="submit"
        [disabled]="!form.valid"
        form="productForm">Create</button>
    </div>

    <form id="productForm"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">

      <app-dynamic-control
        *ngFor="let control of productControls"
        [control]="control"
        [form]="form"></app-dynamic-control>

      <fieldset formArrayName="plans">
        <legend>Prices</legend>

        <div class="border-bottom mb-3"
          *ngFor="let planGroup of plansGroups.controls; let i=index"
          [formGroup]="planGroup">

          <div class="d-flex justify-content-between">

            <div class="text-muted">
              {{ planGroup.get('price').value | currency: 'CNY':'symbol-narrow' }}/{{ planGroup.get('cycle').value }}
            </div>

            <button class="btn btn-link btn-sm"
              type="button"
              (click)="onRemovePrice(i)">Delete</button>
          </div>

          <app-dynamic-control
            *ngFor="let control of planControls"
            [control]="control"
            [form]="planGroup"></app-dynamic-control>
        </div>
      </fieldset>

      <div>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="addPlan()">Add Another Pricing</button>
      </div>
    </form>

  </div>
</div>
