<app-alert
  *ngIf="alert"
  [alert]="alert"
  (dismissed)="onDismissAlert()"></app-alert>

<form [formGroup]="formService.form"
  (ngSubmit)="onSubmit()">

  <ng-container *ngFor="let ctrl of controls">
    <app-dynamic-control [control]="ctrl" [form]="formService.form"></app-dynamic-control>
  </ng-container>

  <div class="d-flex justify-content-between">

    <button
      [class]="button.classNames"
      [type]="button.type"
      [disabled]="!formService.form.valid">
      {{button.name}}
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></span>
    </button>

  </div>
</form>
