<app-alert
  *ngIf="alert"
  [alert]="alert"
  (dismissed)="onDismissAlert()"></app-alert>

<form [formGroup]="form"
  (ngSubmit)="onSubmit()">

  <ng-container
    *ngFor="let ctrl of controls"
    [ngSwitch]="ctrl.controlType">

    <ng-container
      *ngSwitchCase="'group'">

      <app-dynamic-group
        [control]="ctrl"
        [form]="form"></app-dynamic-group>
    </ng-container>

    <app-dynamic-control
      *ngSwitchDefault
      [control]="ctrl"
      [form]="form"></app-dynamic-control>

  </ng-container>

  <app-progress-btn
    [button]="button"
    [disabled]="!form.valid"></app-progress-btn>
</form>
