<div class="card mb-3">
  <div class="card-header d-flex justify-content-between">
    <span>Promotion Banner</span>

    <a class="btn btn-link btn-inline"
      *ngIf="result"
      routerLink="promo">New</a>
  </div>

  <div class="card-body">
    <p *ngIf="!result">Loading...</p>
    <p *ngIf="result && result.notFound">The banner does not have a promotion version yet.</p>
    <app-banner-box
      *ngIf="result && result.value"
      [banner]="result.value"></app-banner-box>
  </div>

  <div class="card-footer"
    *ngIf="result && result.value">
    <app-meta-list
    [metaItems]="metaItems"></app-meta-list>
  </div>
</div>
