<div class="card mb-3">
  <div class="card-header d-flex justify-content-between">
    <span>Promotion Banner</span>

    <a class="btn btn-link btn-inline"
      routerLink="promo">New</a>
  </div>

  <div class="card-body">
    <p *ngIf="isEmpty; else content">The paywall does not have a promotion yet.</p>

    <ng-template #content>
      <app-banner-box
        [banner]="promo"></app-banner-box>

      <div class="text-muted"
        *ngIf="promo.terms">
        <h6>Termsn and Conditions</h6>
        <ul>
          <li *ngFor="let line of termsAndConditions">{{line}}</li>
        </ul>
      </div>

    </ng-template>

  </div>

  <div class="card-footer">
    <app-meta-list
    [metaItems]="metaItems"></app-meta-list>
  </div>
</div>
