<div class="text-center border-top mt-3 pt-3">
  <h4>Pricing plan for a {{ plan.cycle }}</h4>
  <div>{{ plan.price | currency: 'CNY':'symbol-narrow' }}/{{ plan.cycle | cycle }}</div>
  <a href="">New Pricing Plan</a>

  <div class="mt-3 ">
    <h5>Retail Discount</h5>
    <div *ngIf="hasRetailDiscount; else noRetailDiscount">
      <div>零售版限时折扣，立减{{ plan.retailDiscount.priceOff | currency: 'CNY':'symbol-narrow'}}</div>
      <div>{{plan.retailDiscount.startUtc}} ~ {{plan.retailDiscount.endUtc}}</div>
    </div>
    <ng-template #noRetailDiscount>
      <div>N/A</div>
    </ng-template>
  </div>

  <div class="mt-3">
    <div class="d-flex justify-content-center align-items-center">
      <h5>B2B Discounts</h5>
      <button class="btn btn-link">Add</button>
    </div>

    <ul *ngIf="hasB2bDiscount; else noB2bDiscount" class="list-style-none">
      <li *ngFor="let item of plan.b2bDiscounts">
        满{{ item.threshold }}份每份减{{ item.priceOff | currency: 'CNY':'symbol-narrow'}}
      </li>
    </ul>

    <ng-template #noB2bDiscount>
      <div>N/A</div>
    </ng-template>
  </div>

</div>



