<div class="row">
  <div class="col-md-12 col-lg-8">
    <div class="border-bottom mb-3 pb-2">
      <h2>Register a new application</h2>
    </div>

    <app-app-form></app-app-form>

    <app-flash *ngIf="errMsg" [message]="errMsg" (dismiss)="onDismiss()"></app-flash>
  </div>

  <div class="col-md-12 col-lg-4">
    <p>An app must be registered before accessing any of our restful API endpoints.</p>
    <p>After registration, you can generated an access token for this app and present it to the API upon each HTTP request in you app.</p>
    <p>The <code>callback</code> field is only required when you are performing web-based OAuth 2.0 login.</p>
  </div>
</div>
