<ng-container [ngSwitch]="tokenState">

  <ng-container *ngSwitchCase="'not_found'">
    <div class="text-center">无法重置密码。您似乎使用了无效的重置密码链接，请重新<a [routerLink]="forgotPwLink">获取重置密码邮件</a>或直接<a [routerLink]="loginLink">登录</a></div>
  </ng-container>

  <ng-container *ngSwitchCase="'found'">
    <h4 class="text-center">更改 {{email}} 的密码</h4>

    <app-dynamic-form
      [controls]="dynamicControls"
      [button]="button"
      [crossValidator]="crossValidator"></app-dynamic-form>
  </ng-container>

  <ng-container *ngSwitchCase="'used'">
    <div class="text-center">密码已更新</div>
    <a [routerLink]="loginLink" class="btn btn-primary btn-block mt-2">登录</a>
  </ng-container>

  <p *ngSwitchDefault class="text-center">{{ feedback }}</p>
</ng-container>
