<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Price and billing cycle</legend>

    <div class="form-group">
      <label
        class="form-label"
        for="tier">Tier</label>

      <select class="form-control"
        id="tier"
        formControlName="tier">
        <option *ngFor="let opt of tierOpts"
          [disabled]="opt.disabled"
          [value]="opt.value">{{opt.name}}</option>
      </select>

      <app-control-feedback
        [control]="getControl('tier')"
        [desc]="'Required'"></app-control-feedback>
    </div>

    <div class="form-group">
      <label
        class="form-label"
        for="cycle">Billing Cycle</label>

      <select class="form-control"
        id="cycle"
        formControlName="cycle">
        <option *ngFor="let opt of cycleOpts"
          [disabled]="opt.disabled"
          [value]="opt.value">{{opt.name}}</option>
      </select>

      <app-control-feedback
        [control]="getControl('cycle')"
        [desc]="'Required'"></app-control-feedback>
    </div>

    <div class="form-group">
      <label
        class="form-label"
        for="price">Price</label>

      <input class="form-control"
        id="price"
        type="number"
        formControlName="price"/>

      <app-control-feedback
        [control]="getControl('price')"
        [desc]="'Required. Must be greater than 0'"></app-control-feedback>
    </div>
  </fieldset>

  <fieldset *ngIf="permitDiscount"
    formArrayName="b2bDiscounts">
    <legend>B2B Discounts</legend>

    <div *ngFor="let b2bGroup of b2bDiscounts.controls let i=index"
      class="border-bottom">
      <div class="text-right">
        <button
          class="btn btn-link"
          type="button"
          (click)="removeB2b(i)">删除</button>
      </div>

      <div class="form-row" [formGroup]="b2bGroup">

        <div class="form-group col">
          <label class="form-label">Threshold Copies</label>
          <input class="form-control"
            type="number"
            formControlName="threshold"/>

          <app-control-feedback
            [control]="thresholdControl(i)"
            [desc]="'The minimum copies required to meet this price reduction.'"></app-control-feedback>

        </div>
        <div class="form-group col">
          <label class="form-label">Price Off</label>
          <input class="form-control"
            type="number"
            formControlName="priceOff"/>

          <app-control-feedback
            [control]="b2bPriceOff(i)"></app-control-feedback>

        </div>
      </div>

    </div>

    <div class="text-right">
      <button
        type="button"
        class="btn btn-link"
        [disabled]="loading"
        (click)="addB2b()">Add discount</button>
    </div>
  </fieldset>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!form.valid">
    Create
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></span>
  </button>
</form>
