<p>You can find an employee by searching user name, or create one if it is not found.</p>

<table class="table table-striped" *ngIf="profiles">
  <thead>
    <tr>
      <th>用户名</th>
      <th>邮箱</th>
      <th>Active</th>
      <th>昵称</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profile of profiles">
      <td><a [routerLink]="['./', profile.id]">{{profile.userName}}</a></td>
      <td>{{profile.email}}</td>
      <td>{{profile.isActive}}</td>
      <td>{{profile.displayName}}</td>
    </tr>
  </tbody>
</table>
