<div class="card">
  <div class="card-header text-right">
    <a [routerLink]="['list', product.id]">Edit</a>
  </div>
  <div class="card-body">

    <app-product-content
      [product]="product"></app-product-content>

    <app-plan *ngFor="let plan of product.plans"
      [plan]="plan"></app-plan>

  </div>

  <div class="card-footer text-right">
    <button class="btn btn-link" (click)="toggleEditing()">Create a new product based on this one</button>
  </div>
</div>

<ng-container *ngIf="isEditing">
  <div class="d-flex justify-content-between">
    <h5>New {{ product.tier }} product</h5>
    <button class="btn btn-link" (click)="toggleEditing()">Cancel</button>
  </div>
  <app-product-form
    [product]="product"></app-product-form>
</ng-container>


