<h4 class="border-bottom">{{ plan.price | currency: 'CNY':'symbol-narrow' }}/{{ plan.cycle | cycle }}</h4>

<ng-container *ngIf="permitDiscount">

  <h5>零售折扣</h5>
  <div *ngIf="hasRetailDiscount; else noRetailDiscount">
    <div>限时立减{{ plan.discount.priceOff | currency: 'CNY':'symbol-narrow'}}</div>
    <div>{{plan.discount.startUtc}} ~ {{plan.discount.endUtc}}</div>
  </div>
  <ng-template #noRetailDiscount>
    <div>未设置</div>
  </ng-template>

</ng-container>

<div class="text-right text-muted mt-2">Created by {{ plan.createdBy }} at {{ plan.createdUtc }}</div>




