/* You can add global styles to this file, and also import other style files */
@import "src/scss/main.scss";


.modal {
  display: block;
  padding-right: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1072;
}

