<div class="row">
  <div class="col-md-12 col-lg-6">
    <h2 class="mb-3">Preview</h2>
    <div class="d-flex justify-content-between border-bottom mb-3 pb-3">
      <button
        class="btn btn-primary"
        [disabled]="!enableSave"
        (click)="save()">Save</button>
      <button
        class="btn btn-link"
        (click)="clear()">Cancel</button>
    </div>

    <section class="mb-3 pb-3 border-bottom">
      <div class="d-flex justify-content-between">
        <h3>产品描述</h3>
        <a routerLink="products">Select from...</a>
      </div>

      <app-product-item
        *ngIf="product; else noProduct"
        [product]="product"
        [showHeader]="false"></app-product-item>
      <ng-template #noProduct>
        <div class="text-danger">Please select product descripiton</div>
      </ng-template>
    </section>

    <div
      class="mt-3 d-flex justify-content-between border-bottom">
      <h3>Pricing Plans</h3>
      <a routerLink="plans">Select from...</a>
    </div>
    <section
      class="mb-3 pb-3 border-bottom">
      <h4>Billing cycle: year</h4>

      <app-plan-item
        *ngIf="yearlyPlan; else noYearlyPlan"
        [plan]="yearlyPlan"
        [showHeader]="false"></app-plan-item>
      <ng-template #noYearlyPlan>
        <div class="text-danger">Please select yearly pricing plan</div>
      </ng-template>
    </section>

    <section
      *ngIf="permitMonthPlan"
      class="mb-3 pb-3 border-bottom">
      <h4>Billing cycle: month</h4>

      <app-plan-item
        *ngIf="monthlyPlan; else noMonthlyPlan"
        [plan]="monthlyPlan"
        [showHeader]="false"></app-plan-item>
      <ng-template #noMonthlyPlan>
        <div class="text-danger">Please select monthly pricing plan</div>
      </ng-template>
    </section>
  </div>

  <div class="col-md-12 col-lg-6">
    <ul class="list-style-none text-right">
      <li><a routerLink="new-desc">New Product Description</a></li>
      <li><a routerLink="new-plan">New Pricing Plan</a></li>
    </ul>

    <p>You can create a product from the above links, or create new one from existing ones by clicking the Duplicate button.</p>
    <p>All data are immutable, which means once created, no data could be modified.</p>
    <router-outlet></router-outlet>
  </div>
</div>




