@import "palette";

// Override Bootstrap
body {
  font-family: "Helvetica Neue", "Lucida Grande", Verdana, "PingFang SC",
    "PingFang TC", "Hiragino Sans GB", "Heiti SC", "Heiti TC",
    "WenQuanYi Micro Hei", "Microsoft YaHei", "Microsoft JhengHei", STHeiti,
    sans-serif;
  background-color: $color-paper;
}
.page-content {
  min-height: 80vh;
}
table caption {
  caption-side: top;
  text-align: center;
}
a {
  color: $color-teal;
  &.active {
    color: $color-claret;
  }
  &:hover {
    color: $color-black70;
  }
}

.navbar {
  background-color: $color-paper;
  color: $color-black80;
  border-bottom: 1px solid $color-black20;
}

.nav {
  border-right: 1px solid $color-claret;
}

.alert {
  border-radius: 0;
}

@import "card";
@import "button";
@import "form";
@import "list";

@import "barrier";
@import "aspect";
@import "footer";



