<div class="row">
  <div class="col-md-12 col-lg-8">

    <h3>Product Description</h3>
    <div class="card">
      <div class="card-body">
        <app-product-content
          [product]="product"></app-product-content>
      </div>
    </div>

    <h3>Yearly pricing plan</h3>
    <app-plan-form></app-plan-form>

    <h4>Retail Discount</h4>
    <app-retail-form></app-retail-form>

    <h4>B2B Discount</h4>
    <app-b2b-form></app-b2b-form>

  </div>

  <div class="col-md-12 col-lg-4">

  </div>
</div>
