<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8">

    <ng-container *ngIf="apps; else loading">
      <div class="d-flex justify-content-between mb-3">
        <h2>Registered Apps</h2>
        <button class="btn btn-primary">
          New App
        </button>
      </div>

      <app-app-item
        *ngFor="let app of apps"
        [app]="app"></app-app-item>
    </ng-container>

    <ng-template #loading>
      <div>Loading...</div>
    </ng-template>
  </div>
</div>
