<h2>Account</h2>
<table *ngIf="accountRows" class="table">
  <tbody>
    <tr *ngFor="let row of accountRows">
      <th scope="row">{{ row.head }}</th>
      <td>{{ row.data }}</td>
    </tr>
  </tbody>
</table>

<ng-container *ngIf="currentReader">
  <app-edit-membership *ngIf="currentReader.membership.id; else createMember" [reader]="currentReader"></app-edit-membership>

  <ng-template #createMember>
    <div>This user is not a member yet. You can
      <button class="btn btn-link" (click)="onToggleForm(true)">Create</button>
      it if the data is missing or incorrect.
    </div>
    <app-edit-membership *ngIf="showCreateForm" [reader]="currentReader" (toggleForm)="onToggleForm($event)"></app-edit-membership>
  </ng-template>
</ng-container>


<!-- <ul *ngIf="currentReader">
  <li>
    <a routerLink="./profile">Profile</a>
  </li>
</ul> -->

<!-- <router-outlet></router-outlet> -->


