<div class="card mt-3">
  <div class="card-header text-right" *ngIf="showHeader">
    <button class="btn btn-outline-primary" (click)="select()">Use it</button>
  </div>
  <div class="card-body">
    <app-product-content
      [product]="product"></app-product-content>
  </div>
  <div *ngIf="showFooter"
    class="card-footer text-right">
    <button class="btn btn-outline-primary" (click)="toggleEdit()">{{ duplicateBtn }}</button>
  </div>
</div>

<section *ngIf="isEditing"
  class="mb-3 pb-3 border-bottom">
  <h5>New product description for {{product.tier}}</h5>
  <app-product-form
    [product]="product"
    (created)="onCreated($event)"></app-product-form>
</section>




