<div class="card mb-3">
  <div class="card-header text-right" *ngIf="showHeader">
    <button class="btn btn-outline-primary" (click)="select()">Use it</button>
  </div>
  <div class="card-body">
    <app-product-content
      [product]="product"></app-product-content>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-outline-primary" (click)="toggleDuplicate()">Duplicate</button>
  </div>
</div>

<section
  *ngIf="isDuplicating"
  class="mb-3 pb-3 border-bottom">
  <h5>New product description for {{product.tier}}</h5>
  <app-dynamic-form
    [controls]="controls"
    [button]="button"></app-dynamic-form>
</section>




